@if (!isCollapsed()) {
  <article *transloco="let t" [attr.aria-label]="project().title" tabindex="0" #projectPreview>
    <app-traffic-light-bar
      (close)="collapse()"
      (fullscreen)="overlay.open(); overlay.openFullscreen();"
      [isFullscreen]="false" />
    <h2 class="window-title" [aria-describedby]="'description-' + project().id">{{ project().title }}</h2>
    <ul class="tag-list" [attr.aria-label]="t('projects.preview.tagList')">
      @for (tag of project().overviewTags; track tag) {
        <li [class]="'tag --' + tag.toLowerCase().replace(/\s+/g, '-')">{{ tag }}</li>
      }
    </ul>
    <img class="thumbnail" [src]="project().thumbnail.url" [alt]="project().thumbnail.alt" />
    <div class="project-information">
      <p aria-hidden="true" [id]="'description-' + project().id">{{ project().description[langService.currentLang()] }}</p>
      <button (click)="overlay.open()" transloco="project.learnMore"></button>
    </div>
  </article>
} @else {
  <button class="project-icon" (click)="launchPreview()" #projectIcon>
    <img [ngSrc]="project().logo.url" [alt]="project().logo.alt" width="48" height="48"/>
  </button>
}

<app-overlay #overlay [ariaLabel]="project().title">
  <app-traffic-light-bar
    (close)="overlay.close()"
    (fullscreen)="overlay.toggleFullscreen()"
    [isFullscreen]="false" />
  <app-project-detail [project]="project()"/>
</app-overlay>
