:host {
  container-type: inline-size;
  container-name: project-card;
}

:host.collapsed {
  place-self: center;
}

article {
  border: 1px solid light-dark(rgba(0,0,0,0.15), rgba(255,255,255,0.1));
  border-radius: 4px;
  box-shadow: var(--macOS-window-shadow);
  padding: 12px;
  display: grid;
  grid-template-areas:
    "traffic traffic"
    "title   tags"
    "image   desc"
    "image   button";
  grid-template-columns: minmax(150px, 300px) 1fr;
  grid-template-rows: auto auto 1fr auto;
  gap: 8px 12px;
  max-width: 600px;
}

app-traffic-light-bar {
  grid-area: traffic;
}

.window-title {
  grid-area: title;
  margin: 0;
}

.tag-list {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 6px;
  align-self: center;
  justify-content: flex-start;
}

.thumbnail {
  grid-area: image;
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.description {
  grid-area: desc;
  margin: 0;
}

.learn-more {
  grid-area: button;
  align-self: end;
  justify-self: end;
}

.project-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  img {
    border-radius: 22%;
    box-shadow: var(--macOS-window-shadow);
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@container project-card (width < 480px) {
  article {
    grid-template-areas:
      "traffic"
      "title"
      "tags"
      "image"
      "desc"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .thumbnail {
    justify-self: center;
    max-width: 100%;
  }

  .tag-list {
    justify-content: flex-start;
  }

  .learn-more {
    justify-self: stretch;
  }
}
