:host {
  container-type: inline-size;
  container-name: project-card;
  height: 100%;
}

:host.collapsed {
  container-type: normal;
  place-self: center;
  width: fit-content;
  height: fit-content;
}

article {
  border: var(--window-border);
  border-radius: 12px;
  box-shadow: var(--window-shadow);
  padding: 12px;
  display: grid;
  grid-template-areas:
    "traffic traffic"
    "title   tags"
    "desc    desc"
    "image   image"
    "button  button";
  grid-template-columns: 1fr minmax(180px, 1fr);
  grid-template-rows: auto auto auto 1fr auto;
  gap: 8px 12px;
  max-width: 600px;
  height: 100%;
}

app-traffic-light-bar {
  grid-area: traffic;
}

.window-title {
  grid-area: title;
  margin: 0;
}

.tag-list {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 6px;
  align-self: center;
  justify-content: flex-start;
}

.thumbnail {
  grid-area: image;
  width: 100%;
  height: 100%;
  min-height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.description {
  grid-area: desc;
  margin: 0;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: light-dark(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.8));
}

.project-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  img {
    border-radius: 22%;
    box-shadow: var(--window-shadow);
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.learn-more {
  grid-area: button;
  justify-self: center;
  padding: 16px 32px;
  font-size: 1rem;
}

@container project-card (width < 480px) {
  article {
    grid-template-areas:
      "traffic"
      "title"
      "tags"
      "desc"
      "image"
      "button";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .thumbnail {
    justify-self: center;
  }

  .tag-list {
    justify-content: flex-start;
  }

}
