<header #headerEl>
  <div class="limiter" *transloco="let t">
    <details class="nav-menu" [attr.open]="isDesktop() || null">
      <summary [attr.aria-label]="t(isMenuOpen() ? 'nav.closeMenu' : 'nav.openMenu')"
      (click)="isMenuOpen.update(v => !v)">
        ☰
      </summary>
      <nav [attr.aria-label]="t('nav.mainNav')">
        <ul>
          <li>
            <a [routerLink]="toPath('about')" routerLinkActive="active" ariaCurrentWhenActive="page">
              {{ t('nav.about') }}
            </a>
          </li>
          <li>
            <a [routerLink]="toPath('projects')" routerLinkActive="active" ariaCurrentWhenActive="page">
              {{ t('nav.projects') }}
            </a>
          </li>
          <li>
            <a [routerLink]="toPath('tech-stack')" routerLinkActive="active" ariaCurrentWhenActive="page">
              {{ t('nav.techstack') }}
            </a>
          </li>
          <li>
            <a [routerLink]="toPath('contact')" routerLinkActive="active" ariaCurrentWhenActive="page">
              {{ t('nav.contact') }}
            </a>
          </li>
        </ul>
      </nav>
    </details>

    <div class="controls">
      <app-lang-menu />
      <button
        (click)="colorScheme.toggle()"
        [attr.aria-label]="t(colorScheme.darkModeIsActive() ? 'nav.lightMode' : 'nav.darkMode')"
        [attr.aria-pressed]="colorScheme.darkModeIsActive()">
        @if (colorScheme.darkModeIsActive()) {
          <icon-sun />
        } @else {
          <icon-moon />
        }
      </button>
    </div>
  </div>
</header>
