:host {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.tooltip {
  position: absolute;
  padding: 4px 8px;
  z-index: 1;
  white-space: nowrap;
  pointer-events: none;
  visibility: hidden;
}

.tooltip.bottom-trailing { translate: 8px 8px; }
.tooltip.bottom-leading  { translate: calc(-100% - 8px) 8px; }
.tooltip.top-trailing    { translate: 8px calc(-100% - 8px); }
.tooltip.top-leading     { translate: calc(-100% - 8px) calc(-100% - 8px); }

:host:hover .tooltip,
:host:focus-within .tooltip {
  visibility: visible;
  border: var(--window-border);
  box-shadow: var(--window-shadow);
  background-color: canvas;
}

:host:hover .tooltip {
  z-index: 2;
}
