<article *transloco="let t" [attr.aria-label]="t('project.detail.article', { project: project().title })">
  <header>
    <h2>{{project().title}}</h2>
    <ul class="techstack" [attr.aria-label]="t('project.detail.tagList')">
      @for (tag of project().detailTags; track tag) {
        <li [class]="'tag --' + tag.toLowerCase().replace(/\s+/g, '-')">{{ tag }}</li>
      }
    </ul>
  </header>
  @if (project().appstoreUrl) {
    <a class="primary-button" target="_blank" [href]="project().appstoreUrl" rel="noopener norefferer">{{ t('project.appstoreLink') }}</a>
  }
</article>
