<article *transloco="let t" [attr.aria-label]="t('project.detail.article', { project: project().title })">
  <header>
    <h2>{{project().title}}</h2>
    <ul class="techstack" [attr.aria-label]="t('project.detail.tagList')">
      @for (tag of project().detailTags; track tag) {
        <li [class]="'tag --' + tag.toLowerCase().replace(/\s+/g, '-')">{{ tag }}</li>
      }
    </ul>
  </header>
  <div class="body">
    <img [src]="project().screenshot.url" [alt]="project().thumbnail.alt[langService.currentLang()]" class="screenshot" />
    <div class="detail">
      <div class="description">
        {{project().longDescription[langService.currentLang()]}}
      </div>
      <div class="links">
        @if (project().liveUrl) {
          <a class="primary-button" target="_blank" [href]="project().liveUrl" rel="noopener noreferrer"
             [attr.aria-label]="t('project.liveUrl') + ': ' + project().title">{{ t('project.liveUrl') }} <icon-external-link /></a>
        }
        @if (project().appstoreUrl) {
          <a class="primary-button" target="_blank" [href]="project().appstoreUrl" rel="noopener noreferrer"
             [attr.aria-label]="t('project.appstoreLink') + ': ' + project().title">{{ t('project.appstoreLink') }} <icon-external-link /></a>
        }
        @if (project().githubUrl) {
          <a class="primary-button" target="_blank" [href]="project().githubUrl" rel="noopener noreferrer"
             [attr.aria-label]="t('project.githubUrl') + ': ' + project().title">{{ t('project.githubUrl') }} <icon-external-link /></a>
        }
      </div>
    </div>
  </div>
</article>
