dialog {
  --fullscreen-spacing: 4px;
  margin: 0;
  max-width: unset;
  max-height: unset;
  width: 50vw;
  height: 50dvh;
  border: 1px solid light-dark(rgba(0,0,0,0.15), rgba(255,255,255,0.1));
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: var(--macOS-window-shadow);
  top: 0;
  left: 0;
  transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease, border-radius 0.3s ease;
}

dialog.is-fullscreen {
  border-radius: 18px;
  height: calc(100dvh - var(--fullscreen-spacing) * 2);
  max-height: calc(100dvh - var(--fullscreen-spacing) * 2);
  max-width: calc(100vw - var(--fullscreen-spacing) * 2);
  width: calc(100vw - var(--fullscreen-spacing) * 2);
  top: var(--fullscreen-spacing);
  left: var(--fullscreen-spacing);
  translate: 0;
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 14px;
  cursor: grab;
  z-index: 9;
  &:active {
    cursor: grabbing;
  }
}

.resize-handle {
  position: absolute;
  z-index: 10;
}

.resize-n {
  top: 0;
  left: 4px;
  right: 4px;
  height: 4px;
  cursor: n-resize;
}

.resize-s {
  bottom: 0;
  left: 4px;
  right: 4px;
  height: 4px;
  cursor: s-resize;
}

.resize-e {
  right: 0;
  top: 4px;
  bottom: 4px;
  width: 4px;
  cursor: e-resize;
}

.resize-w {
  left: 0;
  top: 4px;
  bottom: 4px;
  width: 4px;
  cursor: w-resize;
}

.resize-ne {
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  cursor: ne-resize;
}

.resize-nw {
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  cursor: nw-resize;
}

.resize-se {
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  cursor: se-resize;
}

.resize-sw {
  bottom: 0;
  left: 0;
  width: 12px;
  height: 12px;
  cursor: sw-resize;
}
