/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light;
  --shadow-inset: rgba(0, 0, 0, 0.15);
  --max-desktop-width: 1280px;
  --max-mobile-width: 768px;
  --window-border: 1px solid light-dark(rgba(0,0,0,0.15), rgba(255,255,255,0.1));
  --window-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

:root.dark {
  color-scheme: dark;
  --window-shadow: 0 2px 8px rgba(0,0,0,0.5);
  --shadow-inset: rgba(0, 0, 0, 0.3);
}

nav > ul {
  display: flex;
  padding-inline: 0;
  list-style-type: none;
}
