/* You can add global styles to this file, and also import other style files */
:root {
  color-scheme: light dark;
  --shadow-inset: rgba(0, 0, 0, 0.15);
  --max-width: 1920px;
}

:root.dark {
  --shadow-inset: rgba(0, 0, 0, 0.3);
}

nav > ul {
  display: flex;
  padding-inline: 0;
  list-style-type: none;
}
